{% extends 'hero_theme.html' %}

{% block content %}
<body>

<div class="container bg-light text-dark p-3">
    <table class="table table-hover">
        <tr>
            <th>Hero</th>
            <th>identity</th>
            <th>Edit</th>
        </tr>
        {% for book in object_list %}
        <tr>
            <td><a href="{{ hero.pk }}">{{ hero.name }}</a></td>
            <td>{{ hero.identity }}</td>
            <td><a href="{{ hero.pk }}/edit">Edit</a></td>
            <td><a href="{{ hero.pk }}/delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<p>
    <a href="/admin/" class="btn btn-success m-5">Modify Database</a>
    <a href="/hero/add" class="btn btn-success m-5">Add New Hero</a>
</p>
</body>

{% endblock content %}