{% extends 'theme.html' %}


{% block content %}

<h1>List of Heroes</h1>

<div class="container bg-dark text-light p-3">
    <table class="table table-hover" style="background-color: darkgreen;">
        <tr>
            <th>Hero</th>
            <th>identity</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for hero in object_list %}
        <tr>
            <td><a href="{{ hero.pk }}" style="color:black;">{{ hero.name }}</a></td>
            <td>{{ hero.identity}}</td>
            <td><a href="{{ hero.pk }}/edit">Edit</a></td>
            <td><a href="{{ hero.pk }}/delete">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<p>
    <a href="/admin/" class="btn btn-success m-5">Modify Database</a>
</p>

{% endblock content %}